/* Option.css */
.option {
    display: flex;
    align-items: center;
    padding: 5px 5px;
    cursor: pointer;
    font-size: 13px;
    width: 150px;
  }
  
  .option .triangle {
    color: #4F6CD4;
    margin-right: 10px;
    font-size: 18px;
  }
  
  .option:hover {
    background-color: #f0f0f0; /* Light grey background on hover */
  }
  
  .option img {
    margin-left: 10px;
    width: 30px; /* Adjust the size as needed */
    height: auto;
    background-color: #f8f9fa;
  }